// COLORS

black = #000
white = #fff
orange = #e94b35
blue = #2c97de
light-blue = #42a2e1
font-color = #2b3e51
labels-color = #94aab0
border-normal-color = #cfd9db
border-error-color = #e94b35
border-valid-color = #44d7a8
border-focus-color = #2c97de
icons-color = #cfd9db;

// fonts-sizes

base-font-size = 62.5%
input-font-size = 1.6rem
label-font-size = input-font-size
label-small-font-size = 1.2rem
form-name = 3.5rem
form-name-small = 3rem