// COLORS

black = #000
white = #fff
orange = #e94b35
font-color = #2b3e51
border-normal-color = #cfd9db
border-error-color = #e94b35
border-valid-color = #44d7a8
border-focus-color = #2c97de
icons-color = #cfd9db;

// fonts-sizes

form-helpers = 0.9em
main-form = 1.1em